@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.ql-editor {
  overflow-y: scroll;
  resize: vertical;
  min-height: 20em;
}

.descOverflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 60px;
  max-width: 80px;
}

.slick-next {
  right: 10px;
}

.slick-prev {
  left: 10px;
  z-index: 30;
}

.slick-slider {
  max-width: 100vw;
}
